html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

input {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.docs_fav table {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.docs_fav table tr {
  border-bottom: 0.5px solid #6d6d6dab;
  position: relative;
}
.docs_fav table tr input.check_file {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.docs_fav table tbody tr:hover {
  background-color: rgba(28, 196, 134, 0.801);
}
.docs_fav table td {
  padding: 15px;
}
.docs_fav table .name_file {
  display: flex;
}
.docs_fav table td:nth-child(2):hover {
  cursor: pointer;
  background-image: linear-gradient(
    to left,
    rgba(126, 126, 126, 0),
    rgba(69, 69, 69, 0.25)
  );
}
.docs_fav table,
.docs_fav td,
.docs_fav th {
  text-align: center;
}
.docs_fav input {
  color: black;
  cursor: pointer;
  width: 100%;
}
.docs_fav table td:nth-child(1) {
  text-align: left;
  width: 10%;
}
.docs_fav table td:nth-child(2) {
  width: 100%;
}
.docs_fav table td:nth-child(3) {
  width: 30%;
}
.docs_fav table td:nth-child(4) {
  width: 20%;
}

.docs_fav .fav_star i {
  color: #e5e510;
  font-size: 20px;
}

.docs_fav .fav_star:hover i {
  cursor: pointer;
  color: #ff0000;
}

/* .docs_fav .fav_star::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #000;
  transform: translate(-23px, 10px) rotate(-45deg);
} */
