/* .close {
  font-size: 1.5rem;
}

.col-12 img {
  opacity: 0.8;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #282a35;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  border: 1px solid rgb(48, 48, 48);
}

.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

#images_container {
  padding-bottom: 100px;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 300px;
}

.img-thumbnail {
  padding: 0px;
  border: 0px;
  opacity: 0.8;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.img-thumbnail:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#add_image_label {
  display: flex;
  position: absolute;
  background-color: #04aa6d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
  top: 20px;
  left: 20px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  box-shadow: 2px 2px 4px;
}

#add_image_label:hover {
  box-shadow: 0px 0px 0px;
}

#add_image_plus {
  margin: auto;
}

.modal-body {
  height: 350px;
  align-self: center;
}

.modal-body img {
  max-height: 100%;
}

@media screen and (max-height: 768px) {
  .modal-body {
    height: 400px;
  }
}
