/** Variables **/
body {
  margin: 0;
  padding: 0; }

.logo_header {
  opacity: 0.9; }

#container {
  background-color: #fff;
  overflow: auto; }
  #container .container_slide #container_slide_title {
    font-family: sans-serif;
    font-size: 70px;
    color: #fff; }

header {
  background-color: #003454b0;
  position: fixed;
  width: 100%;
  z-index: 10; }

.container_list {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse; }

.container_list li {
  list-style-type: none;
  margin-left: 55px; }

.container_list li a {
  text-decoration: none;
  font-size: large;
  color: #fff; }

.container_list li a:hover {
  color: rgba(255, 255, 255, 0.774); }

.menu_icon {
  display: none; }

/** Media Queries **/
@media screen and (max-width: 600px) {
  .container_list {
    display: none; }
  .menu_icon {
    float: right;
    display: block; } }

.container_slide {
  height: 800px;
  background-image: url(../img/portada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center; }
  .container_slide #container_slide_info {
    width: 400px;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .container_slide #container_slide_info #container_slide_info_button {
      margin-top: 15px;
      padding: 10px;
      background-color: transparent;
      border-color: #003454;
      color: #003454;
      border-radius: 5px; }
    .container_slide #container_slide_info #container_slide_info_button:hover {
      cursor: pointer;
      background-color: #003454;
      color: #fff; }

#container_about {
  text-align: center; }

#container_about h2 {
  font-size: 40px; }

#container_about p {
  column-count: 2;
  padding: 0 20px 0 20px; }

/*LOG IN*/
#container_login {
  margin: auto;
  margin-top: 40px;
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px black; }

.login_form {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #003454; }
  .login_form > i {
    position: absolute;
    top: 10px;
    left: 10px; }

.login_header {
  width: 60%;
  text-align: center; }

.img_account {
  width: 100px;
  height: 100px;
  background-image: url("../img/user-3331257__340-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 50%; }

.login_data {
  width: 60%;
  display: flex;
  flex-direction: column; }
  .login_data input {
    width: 70%;
    margin: auto;
    padding: 10px;
    border: 1px solid #003454;
    border-radius: 5px;
    margin-bottom: 10px; }

.login_buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .login_buttons a {
    color: #003454; }
  .login_buttons input {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #003454;
    color: #003454;
    font-size: 20px; }
  .login_buttons input:hover {
    cursor: pointer;
    background-color: #003454;
    border-color: #fff;
    color: #ffffff; }
  .login_buttons div {
    align-self: center; }

.login_image {
  width: 49%;
  height: 90%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/Mobile login-bro.svg"); }

/*LOG ON*/
#container_logon {
  margin: auto;
  margin-top: 40px;
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px black; }

.logon_form {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #003454; }
  .logon_form > i {
    position: absolute;
    top: 10px;
    left: 10px; }

.logon_header {
  width: 60%;
  text-align: center; }

.logon_data {
  width: 60%;
  display: flex;
  flex-direction: column; }
  .logon_data input {
    width: 70%;
    margin: auto;
    padding: 10px;
    border: 1px solid #003454;
    border-radius: 5px;
    margin-bottom: 10px; }

.logon_buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .logon_buttons a {
    color: #003454; }
  .logon_buttons input {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #003454;
    color: #003454;
    font-size: 20px; }
  .logon_buttons input:hover {
    cursor: pointer;
    background-color: #003454;
    border-color: #fff;
    color: #ffffff; }
  .logon_buttons div {
    align-self: center; }

.logon_image {
  width: 49%;
  height: 90%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/Mobile login-rafiki.svg"); }

#footer {
  color: #fff;
  margin-top: 20px;
  background-color: #003454; }

.container_contact {
  display: flex;
  flex-direction: column; }

.container_contact_info {
  width: 70%;
  margin: auto;
  overflow: auto; }

.contact_logo {
  float: left; }

.contact_logo_img {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #ffffff40; }

.contact_logo_img:hover {
  cursor: pointer; }

.contact_information {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  float: right; }

.contact_information ul {
  margin-left: 40px;
  list-style: none; }

.contact_links {
  width: 100%; }

.contact_links div {
  text-align: center; }

.contact_links div a i {
  color: #ffffff;
  font-size: 45px;
  margin: 20px; }
