body {
  margin: 0;
  padding: 0; }

#container {
  margin: 0;
  padding: 0; }

header {
  background-color: #363636;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

nav {
  margin: 0; }

nav ul {
  display: flex;
  flex-direction: row; }
  nav ul li {
    list-style: none;
    margin-left: 55px; }
    nav ul li a i {
      font-size: 25px;
      color: #ffff; }

.user_profile {
  width: 50px;
  height: 50px;
  background-image: url("../../../img/user-3331257__340-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px; }

main {
  display: flex;
  flex-direction: row;
  height: 100%; }

#container_menu {
  background-color: #2e2e2e;
  width: 20%;
  border-right: 1px solid white; }
  #container_menu ul {
    margin: 0;
    padding: 0; }
    #container_menu ul li {
      margin-bottom: 10px;
      list-style: none; }
      #container_menu ul li a {
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 15px;
        font-size: 20px; }
    #container_menu ul li:nth-child(1) a::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 10px;
      font-weight: 900;
      font-size: 20px;
      content: "\f07b"; }
    #container_menu ul li:nth-child(1):hover {
      background-color: #2280fa; }
    #container_menu ul li:nth-child(2) a::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 10px;
      font-weight: 900;
      font-size: 20px;
      content: "\f017"; }
    #container_menu ul li:nth-child(2):hover {
      background-color: #2280fa; }
    #container_menu ul li:nth-child(3) a::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 10px;
      font-weight: 900;
      font-size: 20px;
      content: "\f005"; }
    #container_menu ul li:nth-child(3):hover {
      background-color: #2280fa; }
    #container_menu ul li:last-child div {
      margin-top: 90%;
      padding: 15px;
      color: white; }

#container_docs {
  background-color: #4b4b4b;
  width: 80%;
  display: flex;
  flex-direction: column; }

.docs_header {
  background-color: #5e5e5e;
  padding: 0;
  margin: 0; }
  .docs_header ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .docs_header ul li {
      list-style: none; }
      .docs_header ul li a::after {
        font-family: "Font Awesome 5 Free";
        content: "\f054";
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        font-weight: 900;
        font-size: 20px;
        color: #b6b6b6; }
      .docs_header ul li a {
        font-size: 20px;
        text-decoration: none;
        color: #b6b6b6; }
      .docs_header ul li a i {
        font-size: 20px;
        color: #b6b6b6; }

.docs_main {
  background-color: #b6b6b6; }
  .docs_main table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-bottom: 20px; }
    .docs_main table td {
      padding: 15px; }
  .docs_main table,
  .docs_main td,
  .docs_main th {
    border: 1px solid white;
    text-align: center; }
  .docs_main .files table td:nth-child(1) {
    text-align: left;
    width: 65%; }
  .docs_main .files table td:nth-child(2) {
    width: 10%; }
  .docs_main .files table td:nth-child(3) {
    width: 20%; }
  .docs_main .files table td:nth-child(4) {
    width: 5%;
    position: relative; }

.docs_upload {
  margin-top: auto;
  align-self: center;
  width: 400px;
  height: 200px;
  border: 2px dashed white;
  border-radius: 10px;
  background-color: #b6b6b6c4;
  display: flex;
  justify-content: center;
  align-items: center; }
  .docs_upload div i {
    font-size: 70px;
    color: white; }

.docs_upload:hover {
  cursor: pointer;
  background-color: #d4d4d4c4; }

.options_file:hover {
  cursor: pointer;
  background-color: beige; }

.options {
  background-color: white;
  position: absolute; }
  .options ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px; }
    .options ul li i {
      font-size: 18px;
      margin-bottom: 5px; }

#container_images {
  display: none; }

#container_calendar {
  display: none; }

#container_bookmarks {
  display: none; }

#container_tasks {
  display: none; }
