body {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0;
  padding: 0;
}

header {
  background-color: #282a35;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #04aa6d;
}

nav {
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav ul li {
  list-style: none;
  margin-left: 55px;
  position: relative;
}
nav ul li a i {
  font-size: 25px;
  color: #ffff;
}
nav ul li a i:hover {
  color: #04aa6d;
}

#container_logout_profile {
  display: flex;
  flex-direction: row;
}
#container_logout_profile .user_log_out {
  color: white;
  font-size: 30px;
  margin: auto;
  margin-right: 20px;
}
#container_logout_profile .user_log_out:hover {
  cursor: pointer;
  color: red;
}
#container_logout_profile .user_profile {
  width: 50px;
  height: 50px;
}
#container_logout_profile .user_profile img {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-right: 10px;
}

.notification_off {
  display: none;
}

.notification_on {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #15ff15;
  border-radius: 50%;
  top: -5px;
  left: 100%;
}

@media screen and (max-width: 768px) {
  nav ul {
    padding: 0px;
  }
  nav ul li {
    margin-left: 25px;
  }
}
html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

input {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

#container_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2c2d3a;
  width: 15%;
  border-right: 1px solid #04aa6d;
}
#container_menu ul {
  margin: 0;
  padding: 0;
}
#container_menu ul li {
  margin-bottom: 10px;
  list-style: none;
}
#container_menu ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 20px;
}
#container_menu ul li:nth-child(1) a::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 10px;
  font-weight: 900;
  font-size: 20px;
  content: "\f07b";
}
#container_menu ul li:nth-child(1):hover {
  background-color: #04aa6d;
}
#container_menu ul li:nth-child(2) a::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 10px;
  font-weight: 900;
  font-size: 20px;
  content: "\f073";
}
#container_menu ul li:nth-child(2):hover {
  background-color: #04aa6d;
}
#container_menu ul li:nth-child(3) a::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 10px;
  font-weight: 900;
  font-size: 20px;
  content: "\f302";
}
#container_menu ul li:nth-child(3):hover {
  background-color: #04aa6d;
}
#container_menu ul li:nth-child(4) a::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 10px;
  font-weight: 900;
  font-size: 20px;
  content: "\f005";
}
#container_menu ul li:nth-child(4):hover {
  background-color: #04aa6d;
}
#container_menu ul li:nth-child(5) a::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 10px;
  font-weight: 900;
  font-size: 20px;
  content: "\f0ae";
}
#container_menu ul li:nth-child(5):hover {
  background-color: #04aa6d;
}
#container_menu ul li:last-child div {
  margin-top: 90%;
  padding: 15px;
  color: #ffffff;
}
#container_menu #menu_footer {
  color: #ffffff;
  margin-bottom: 100px;
}
#container_menu #menu_footer #menu_total_storage #storage_bar_container {
  width: 90%;
  margin: auto;
}
#container_menu #menu_footer #menu_total_storage #storage_bar_container #storage_bar {
  width: 100%;
  height: 5px;
  border: 1px solid #ffffff;
  background-color: #fff;
}
#container_menu #menu_footer #menu_total_storage #storage_bar_container #storage_bar #storage_bar_fill {
  height: 5px;
  background-color: #04aa6d;
}
#container_menu #menu_footer #menu_total_storage #storage_info {
  padding-top: 5px;
  text-align: center;
}
#container_menu #menu_footer #menu_total_storage #storage_info #storage_number {
  display: inline;
}
#container_menu #menu_footer #menu_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#container_menu #menu_footer #menu_logo #menu_logo_img {
  width: 40px;
  height: 40px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #ffffff40;
}
#container_menu #menu_footer #menu_logo p {
  font-size: 30px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  #container_menu {
    display: none;
  }
}
#container_docs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
ul li {
  list-style: none;
}

.docs_header {
  background-color: #e7e9eb;
  padding: 0;
  margin: 0;
  z-index: 1;
  background-color: rgba(28, 196, 134, 0.801);
  box-shadow: 1px 1px 2px black;
}
.docs_header ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.docs_header ul li a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 900;
  font-size: 20px;
  color: #04aa6d;
}
.docs_header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #495057;
}
.docs_header ul li a i {
  font-size: 20px;
  color: #495057;
}

.files__add__select ul li:nth-child(5) {
  display: none;
}
.files__add__select ul li:nth-child(6) {
  display: none;
}
.files__add__select ul li:nth-child(7) {
  display: none;
}

.files__add__select {
  display: inline-block;
}
.files__add__select ul {
  background-color: #04aa6d;
  display: flex;
  flex-direction: row;
  margin: 0px;
  border-right: 1px solid black;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0.5px 1px 1px 0.5px black;
}
.files__add__select ul li {
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
}
.files__add__select ul li:nth-child(1) {
  color: #282a35;
}
.files__add__select ul li:nth-child(1):hover {
  background-color: #fdfdfdcc;
  cursor: pointer;
}
.files__add__select ul li:nth-child(2) {
  color: #282a35;
}
.files__add__select ul li:nth-child(2):hover {
  background-color: #fdfdfdcc;
  cursor: pointer;
}
.files__add__select ul li:nth-child(3) {
  color: #282a35;
}
.files__add__select ul li:nth-child(3):hover {
  background-color: #fdfdfdcc;
  cursor: pointer;
}
.files__add__select ul li:nth-child(4) {
  color: #282a35;
}
.files__add__select ul li:nth-child(4):hover {
  background-color: #fdfdfdcc;
  cursor: pointer;
}
.files__add__select ul li:nth-child(5) {
  color: #fff;
}
.files__add__select ul li:nth-child(5):hover {
  background-color: #0000008a;
  cursor: pointer;
}
.files__add__select ul li:nth-child(6) {
  color: #fff;
}
.files__add__select ul li:nth-child(6):hover {
  background-color: #0000008a;
  cursor: pointer;
}
.files__add__select ul li:nth-child(7) {
  color: #fff;
}
.files__add__select ul li:nth-child(7):hover {
  background-color: #0000008a;
  cursor: pointer;
}
.files__add__select .check_select_color {
  background-color: #fff;
}
.files__add__select #back_dir {
  margin-right: 0.5rem;
}
.files__add__select #add_file ~ label {
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.files__add__select #select_files {
  margin-left: 0.5rem;
}

.docs_main {
  background-color: #fff;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}
.docs_main::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
.docs_main::-webkit-scrollbar-track {
  background-color: #282a35;
}
.docs_main::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 10px;
  border: 1px solid #303030;
}
.docs_main table {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.docs_main table tr {
  border-bottom: 0.5px solid #6d6d6dab;
  position: relative;
}
.docs_main table tr input.check_file {
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
}
.docs_main table tbody tr:hover {
  background-color: rgba(28, 196, 134, 0.801);
}
.docs_main table td {
  padding: 15px;
}
.docs_main table .name_file {
  display: flex;
}
.docs_main table td:nth-child(2):hover {
  cursor: pointer;
  background-image: linear-gradient(to left, rgba(126, 126, 126, 0), rgba(69, 69, 69, 0.25));
}
.docs_main table,
.docs_main td,
.docs_main th {
  text-align: center;
}
.docs_main input {
  color: black;
  cursor: pointer;
  width: 100%;
}
.docs_main .files table td:nth-child(1) {
  text-align: left;
  width: 100%;
}
.docs_main .files table td:nth-child(2) {
  width: 100%;
}
.docs_main .files table td:nth-child(3) {
  width: 30%;
}
.docs_main .files table td:nth-child(4) {
  width: 20%;
  position: relative;
}
.docs_main .files table .fa-folder {
  font-size: 26px;
}

.options_file:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, rgba(126, 126, 126, 0), rgba(69, 69, 69, 0.25));
}

.options_file i:hover {
  transform: scale(1.2);
}

#options {
  margin: 0px;
  padding: 0px;
  z-index: 999;
}
#options li {
  transition: all 0.3s ease;
}
#options li i {
  font-size: 18px;
  margin-bottom: 5px;
}
#options li:hover {
  cursor: pointer;
  color: #fff;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .files__add__select ul {
    padding: 0px;
  }
  .files__add__select ul li {
    background-color: #7bc89a8a;
    border-radius: 5px;
    padding: 3px;
  }
}
#container_images {
  display: none;
  width: 100%;
  height: 100%;
}
#container_images div {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

#container_calendar {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
#container_calendar div {
  width: 100%;
  height: 100%;
}
#container_calendar div iframe {
  width: 70%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #container_calendar div iframe {
    width: 100%;
  }
}
#container_favourites {
  display: none;
  width: 100%;
  height: 100%;
}
#container_favourites div {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

#container_tasks {
  display: none;
  width: 100%;
  height: 100%;
}
#container_tasks div {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}