body {
  margin: 0;
  padding: 0; }

#container {
  margin: 0;
  padding: 0; }

header {
  background-color: #282a35;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #04aa6d; }

nav {
  margin: 0; }

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  nav ul li {
    list-style: none;
    margin-left: 55px; }
    nav ul li a i {
      font-size: 25px;
      color: #ffff; }
      nav ul li a i:hover {
        color: #04aa6d; }

.user_profile {
  width: 50px;
  height: 50px;
  background-image: url("../../../img/user-3331257__340-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px; }

html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px; }

main {
  display: flex;
  flex-direction: row;
  height: 100vh; }

input {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px; }

#container_menu {
  background-color: #2c2d3a;
  width: 20%;
  border-right: 1px solid #04aa6d; }
  #container_menu ul {
    margin: 0;
    padding: 0; }
    #container_menu ul li {
      margin-bottom: 10px;
      list-style: none; }
      #container_menu ul li a {
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 15px;
        font-size: 20px; }
    #container_menu ul li:nth-child(1) a::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 10px;
      font-weight: 900;
      font-size: 20px;
      content: "\f07b"; }
    #container_menu ul li:nth-child(1):hover {
      background-color: #04aa6d; }
    #container_menu ul li:nth-child(2) a::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 10px;
      font-weight: 900;
      font-size: 20px;
      content: "\f017"; }
    #container_menu ul li:nth-child(2):hover {
      background-color: #04aa6d; }
    #container_menu ul li:nth-child(3) a::before {
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      padding-right: 10px;
      font-weight: 900;
      font-size: 20px;
      content: "\f005"; }
    #container_menu ul li:nth-child(3):hover {
      background-color: #04aa6d; }
    #container_menu ul li:last-child div {
      margin-top: 90%;
      padding: 15px;
      color: white; }

#container_docs {
  width: 80%;
  display: flex;
  flex-direction: column; }

ul {
  list-style-type: none; }
  ul li {
    list-style: none; }

#download_files_selected {
  display: none; }

.docs_header {
  background-color: #e7e9eb;
  padding: 0;
  margin: 0;
  z-index: 1;
  box-shadow: 1px 1px 2px black; }
  .docs_header ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .docs_header ul li a::after {
      font-family: "Font Awesome 5 Free";
      content: "\f054";
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      font-weight: 900;
      font-size: 20px;
      color: #04aa6d; }
    .docs_header ul li a {
      font-size: 20px;
      text-decoration: none;
      color: #04aa6d; }
    .docs_header ul li a i {
      font-size: 20px;
      color: #04aa6d; }

.files__add__select {
  width: fit-content; }
  .files__add__select ul {
    background-color: #00863c;
    display: flex;
    flex-direction: row;
    margin: 0px;
    border-right: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0.5px 1px 1px 0.5px black; }
    .files__add__select ul li {
      font-size: 20px;
      margin: 5px; }
    .files__add__select ul li:hover {
      cursor: pointer; }
  .files__add__select #add_file ~ label {
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem; }

.docs_main {
  background-color: #fff;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 100px; }
  .docs_main::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px; }
  .docs_main::-webkit-scrollbar-track {
    background-color: #282a35; }
  .docs_main::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 10px;
    border: 1px solid #303030; }
  .docs_main table {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-collapse: collapse; }
    .docs_main table tr {
      border-bottom: 1px solid #6d6d6d;
      position: relative; }
      .docs_main table tr input.check_file {
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0; }
    .docs_main table tr:hover {
      background-color: rgba(126, 126, 126, 0.349); }
    .docs_main table td {
      padding: 15px; }
    .docs_main table .name_file {
      display: flex; }
    .docs_main table td:nth-child(2):hover {
      cursor: pointer;
      background-image: linear-gradient(to bottom, rgba(126, 126, 126, 0.349), rgba(126, 126, 126, 0.699)); }
  .docs_main table,
  .docs_main td,
  .docs_main th {
    text-align: center; }
  .docs_main input {
    color: black;
    cursor: pointer;
    width: 100%; }
  .docs_main .files table td:nth-child(1) {
    text-align: left;
    width: 100%; }
  .docs_main .files table td:nth-child(2) {
    width: 100%; }
  .docs_main .files table td:nth-child(3) {
    width: 30%; }
  .docs_main .files table td:nth-child(4) {
    width: 20%;
    position: relative; }

.options_file:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(126, 126, 126, 0.349), rgba(126, 126, 126, 0.699)); }

#options {
  margin: 0px;
  padding: 0px;
  z-index: 999; }
  #options li i {
    font-size: 18px;
    margin-bottom: 5px; }
  #options li:hover {
    cursor: pointer;
    background-color: #04aa6d;
    border-radius: 5px; }

#container_images {
  display: none; }

#container_calendar {
  display: none;
  width: 100%;
  height: 100%; }
  #container_calendar div {
    width: 100%;
    height: 100%; }

iframe {
  width: 100%;
  height: 100%; }

#container_bookmarks {
  display: none; }

#container_tasks {
  display: none;
  width: 100%;
  height: 100%; }
  #container_tasks div {
    width: 100%;
    height: 100%; }

iframe {
  width: 100%;
  height: 100%; }
