/** Variables **/
$responsive-width: 768px;
$nav-color: #003454b0;
$white: #fff;

body {
  margin: 0;
  padding: 0;
}

.logo_header {
  opacity: 0.9;
}

#container {
  background-color: $white;
  overflow: auto;
  & .container_slide {
    & #container_slide_title {
      font-family: sans-serif;
      font-size: 70px;
      color: $white;
    }
  }
}

header {
  background-color: $nav_color;
  position: fixed;
  width: 100%;
  z-index: 10;
  & nav {
    display: flex;
    justify-content: space-between;
  }
}

.container_list {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.container_list li {
  list-style-type: none;
  margin-left: 55px;
}

.container_list li a {
  text-decoration: none;
  font-size: large;
  color: $white;
}

.container_list li a:hover {
  color: rgba(255, 255, 255, 0.774);
}

.menu_icon {
  display: none;
}

/** Media Queries **/
@media screen and (max-width: $responsive-width) {
  .container_list {
    display: none;
  }
  .menu_icon {
    display: flex;
    align-self: center;
    font-size: x-large;
    & a {
      color: $white;
    }
  }
}
