body {
  margin: 0;
  padding: 0;
}

.logo_header {
  opacity: 0.9;
}

#container {
  background-color: #ffffff;
  overflow: auto;
  & .container_slide {
    & #container_slide_title {
      position: absolute;
      top: 40%;
      left: 5%;
      font-size: 70px;
      color: white;
    }
  }
}

header {
  background-color: #2bae88a8;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container_list {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.container_list li {
  list-style-type: none;
  margin-left: 55px;
}

.container_list li a {
  text-decoration: none;
  font-size: large;
  color: black;
}

.container_list li a:hover {
  color: white;
}
