@mixin log_in_on_container {
  margin: auto;
  width: 90%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px black;
}

@mixin log_in_on_form {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  & > i {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

@mixin log_in_on_header {
  width: 60%;
  text-align: center;
}
@mixin log_in_on_data {
  width: 60%;
  display: flex;
  flex-direction: column;

  & input {
    width: 70%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
  }
}
@mixin log_in_on_buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & input {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 154, 240);
    color: #ffffff;
    font-size: 20px;
  }

  & div {
    align-self: center;
  }
}

@mixin log_in_on_image {
  width: 49%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

/*LOG IN*/

#container_login {
  @include log_in_on_container;
}

.login_form {
  @include log_in_on_form;
}

.login_header {
  @include log_in_on_header;
}

.img_account {
  width: 100px;
  height: 100px;
  background-image: url("../img/user-3331257__340-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
}

.login_data {
  @include log_in_on_data;
}

.login_buttons {
  @include log_in_on_buttons;
}

.login_image {
  @include log_in_on_image;
  background-image: url("../img/login@4x-min.png");
}

/*LOG ON*/

#container_logon {
  @include log_in_on_container;
}

.logon_form {
  @include log_in_on_form;
}

.logon_header {
  @include log_in_on_header;
}

.logon_data {
  @include log_in_on_data;
}

.logon_buttons {
  @include log_in_on_buttons;
}

.logon_image {
  @include log_in_on_image;
  background-image: url("../img/logon-min.png");
}
