.container_slide {
  height: 800px;
  background-image: url(../img/portada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

#container_about {
  text-align: center;
}

#container_about h2 {
  font-size: 40px;
}

#container_about p {
  column-count: 2;
}
