.container_slide {
  height: 800px;
  background-image: url(../img/portada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;

  & #container_slide_info {
    width: 400px;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & #container_slide_info_title {
      text-shadow: 2px 2px black;
      color: white;
    }

    & #container_slide_info_button {
      margin-top: 15px;
      font-size: 20px;
      padding: 15px;
      background-color: #003454;
      border-color: #003454;
      color: white;
      border-radius: 5px;
    }

    & #container_slide_info_button:hover {
      cursor: pointer;
      background-color: #fff;
      color: #003454;
    }
  }
}

#container_about {
  text-align: center;
}

#container_about h2 {
  font-size: 50px;
}

#container_about p {
  font-size: 20px;
  column-count: 2;
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 768px) {
  .container_slide {
    & #container_slide_info {
      width: 100%;
    }
  }
  #container_about p {
    column-count: 1;
  }
}
