#container_cookie {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  background-color: #003454;
  color: #fff;
  height: 50px;
  border-radius: 5px 5px 0 0;

  & #cookie {
    font-size: 18px;
    padding: 5px;

    & #button_cookie {
      height: 20px;
      width: 104px;
      color: #fff;
      font-size: 12px;
      border-radius: 3px;
      border: 1px solid green;
      background-color: green;
      cursor: pointer;
    }
  }
}
