html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

input {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
