body {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #ffffff;
  overflow: auto;
}

header {
  background-color: #ffffffa8;
  position: fixed;
  width: 100%;
}

.container_list {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.container_list li {
  list-style-type: none;
  margin-left: 55px;
}

.container_list li a {
  text-decoration: none;
  font-size: large;
  color: black;
}

.container_list li a:hover {
  color: #e7e7e7;
}
