#container_logon {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px black;
}

.logon_form {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logon_form > i {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logon_header {
  width: 60%;
  text-align: center;
}

.logon_data {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.logon_data input {
  width: 70%;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.logon_buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logon_buttons input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(26, 154, 240);
  color: #ffffff;
  font-size: 20px;
}

.logon_buttons div {
  align-self: center;
}

.logon_image {
  width: 49%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-image: url("../img/logon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
